<!DOCTYPE html>
<html>
<head>
<title>Palindrome</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <h1>Click for Palindrome!<h1>
    <p>
      <form action="/palindrome_form">
        <div class="form-group">
          <label for="palindrome_button">Your Palindrome</label>
          <input id="palindrome_button" name="palindrome_button" class="form-control" type="text">
        </div>
        <button type="submit" class="btn">P-P-P-PALINDROME!</button>
      </form>
    </p>
</body>
</html>
